@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Sou um paciente quero pesquise por um médico.</p>
    <p><a href="..\LoginPaciente" class="btn btn-primary btn-lg">Acessar &raquo;</a></p>
</div>

<div class="jumbotron">
    <p class="lead">Sou um médico quero disponibilizar uma consulta.</p>
    <p><a href="..\LoginMedico" class="btn btn-primary btn-lg">Acessar &raquo;</a></p>
</div>

